/* reset */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: sans-serif;
}

/* style */

.container {
  width: 1200px;
  margin: 2em auto;
}

.cards {
  position: relative;
  float: left;
  width: calc((100% - 2rem) / 3);
  height: 500px;
  margin-bottom: 6rem;
}

.cont::after {
  content: "";
  display: table;
  clear: both;
}

.cards.left {
  margin-right: 1rem;
}

.cards.right {
  margin-left: 1rem;
}

.cont.up .inner-img,
.cont.down .inner-img {
  width: 100%;
  height: 100%;
  background-size: cover;
  position: relative;
}

/* image cont up */

.cont.up .inner-img.left {
  background-image: url(../img/1.webp);
}

.cont.up .inner-img.center {
  background-image: url(../img/2.webp);
}

.cont.up .inner-img.right {
  background-image: url(../img/3.webp);
}

/* image cont down */

.cont.down .inner-img.left {
  background-image: url(../img/4.webp);
}

.cont.down .inner-img.center {
  background-image: url(../img/5.webp);
}

.cont.down .inner-img.right {
  background-image: url(../img/6.webp);
}

.heart {
  background-color: white;
  position: absolute;
  top: 1rem;
  right: 0;
  font-size: 1.5em;
  text-align: center;
  width: 2.1rem;
  height: 2.1rem;
  line-height: 2.1rem;
}


.tags {
  position: absolute;
  left: 0;
  bottom: 1rem;
  color: white;
 
}

.discount,
.sost {
    display: inline-block;
    padding: 0.2em 0.5em;
    font-size: 0.7em;
    font-weight: bold;
}

.discount {
  background-color: #eb0037;
}

.sost {
  left: 3.5em;
  background-color: #00875a;
}

.desc {
  margin-top: 0.5rem;
}

.brend,
.prize.old {
  color: gray;
}

article h1 {
  font-size: 0.8em;
  text-transform: uppercase;
}

.brend {
  font-size: 0.8em;
}

.prize {
  display: inline-block;
  font-size: 0.8em;
  font-weight: bold;
}

.prize.new {
  color: red;
}

.prize.old {
  text-decoration: line-through;
}

/* bonus */

.cards:hover * {
  transition: 1s;
}

/* image cont up */

.cont.up .cards.left:hover .inner-img.left {
  background-image: url(../img/1b.webp);
}

.cont.up .cards.center:hover .inner-img.center {
  background-image: url(../img/2b.webp);
}

.cont.up .cards.right:hover .inner-img.right {
  background-image: url(../img/3b.webp);
}

/* image cont down */

.cont.down .cards.left:hover .inner-img.left {
  background-image: url(../img/4b.webp);
}

.cont.down .cards.center:hover .inner-img.center {
  background-image: url(../img/5b.webp);
}

.cont.down .cards.right:hover .inner-img.right {
  background-image: url(../img/6b.webp);
}
